@font-face {
    font-family: "Times" ;
    src: url('/z_web/static/src/font/font-times-new-roman.ttf') format("truetype");
}

@font-face {
    font-family: "Times New Roman";
    src: url("/z_web/static/src/font/SVN-Times-New-Roman.ttf");
}