.o_action_manager {
  border-radius: 4px;
  padding: 12px;
  background: var(--neutral-lighter-gray, #ebebeb);

  .main-section {
    position: relative;
    background: white;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    overflow: hidden;

    .breadcrumb {
      padding: 8px 16px !important;
      border-bottom: 0.5px solid var(--neutral-light-gray, #cfcfcf);

      .breadcrumb-item {
        color: var(--neutral-midtone-gray, #83858a);

        /* 12/Regular */
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;

        /* 133.333% */
        &.active {
          color: var(--primary-default, #27b9b1);
        }
      }
    }

    .table-header {
      font-size: 20px;
      font-weight: 700;
      color: #3a3a3a;
      line-height: 28px;
    }

    .table-responsive,
    .o_content {
      &::-webkit-scrollbar {
        display: none;
      }
    }

    .group-title {
      padding: 12px 16px;
      font-weight: 600;
      cursor: pointer;
      min-width: 280px;

      &.active {
        img {
          transform: rotate(180deg);
        }
      }

      &:not(:first-child) {
        border-top: 0.5px solid #cfcfcf;
      }
    }

    .dropdown-menu {
      max-width: 282px;
      min-width: 222px;

      .option {
        margin-left: 8px;
      }

      .dropdown-item {
        padding: 6px 12px;

        span {
          color: #3a3a3a;

          &.active {
            color: $o-community-color;
            font-weight: 600;
          }
        }
      }
    }

    .nested-filter-item {
      .dropdown-item {
        display: flex;
        align-items: center;
        padding-left: 24px;
      }
    }

    .o_datepicker {
      width: 135px;

      .o_datepicker_button {
        pointer-events: none;

        &::before {
          content: url(/z_web/static/image/calendar.png);
        }

        &::after {
          display: none;
        }

        top: calc(50% - 9px);
        right: 8px;
      }
    }

    .range-date-picker {
      .o_datepicker {
        width: 200px;
      }
    }

    .no-result {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 5rem;
    }

    .table-sticky-header {
      overflow: auto;

      table {
        width: 100%;

        &>thead>tr>th {
          position: sticky;
          top: 0;
          z-index: 2;
        }
      }
    }

    .paging-container {
      height: 56px;
      justify-content: space-between;
      border-top: 1px solid #dee2e6;
      background: white;
      bottom: 0px;
      padding: 10px 18px 10px 18px;

      .paging-group {
        color: #3a3a3a;

        .group {
          font-size: 13px;
          font-weight: 400;
          letter-spacing: 0em;
          text-align: left;
          display: inline-flex;
          margin-left: 22px !important;
        }

        .pages {
          ul {
            list-style: none;
            margin-bottom: 0px;

            li {
              cursor: pointer;
              display: inline-block;
              width: 28px;
              height: 28px;
              padding: 0.86px 6.01px 0.86px 6.01px;
              border-radius: 1.72px;
              border: 0.5px solid #cfcfcf;
              margin-left: 8.58px;
              text-align: center;
              line-height: 28px;
              font-size: 13px;
              font-weight: 400;
              letter-spacing: 0em;

              &.page-direct {
                svg {
                  margin-bottom: 4px;
                }
              }

              // Ignore border if no number page
              &.no-num {
                cursor: auto;
                border: none;

                &:hover {
                  span {
                    color: #495057 !important;
                  }
                }
              }

              &.active,
              &:hover:not(.no-num) {
                filter: brightness(0) saturate(100%) invert(74%) sepia(48%) saturate(4841%) hue-rotate(131deg) brightness(98%) contrast(69%);
                color: $o-community-color;
                border-color: $o-community-color;
                font-weight: 700;
              }
            }
          }
        }

        .goto-page {
          span {
            display: inline-flex;
            margin-right: 6px !important;
          }

          input {
            margin-top: -2px;
            display: inline-flex !important;
            max-width: 56px !important;
            height: 28px !important;
            padding: 4px 0px 4px 14px !important;
            border-radius: 1.72px !important;
            border: 0.86px solid #cfcfcf !important;
            text-align: center;
          }
        }
      }
    }

    .btn {
      &.cancel {
        background: var(--neutral-white, #ebebeb);
        font-weight: 600;
      }

      &.btn-filter-table {
        color: #3a3a3a;
        font-weight: 400;
        line-height: 20px;
        background: #fff;
        border: 0.5px solid var(--neutral-midtone-gray, #83858a);

        &.active {
          color: #27b9b1;
          background-color: #ecfaf9;
          border: 0.5px solid #27b9b1;
        }
      }

      &.outline {
        border: 0.5px solid var(--neutral-midtone-gray, #83858a);
        background: var(--neutral-white, #fff);
        color: #3a3a3a;

        .fa {
          margin-right: 8px;
        }

        &.active {
          color: $o-community-color;
          background-color: #ecfaf9;
          border: 0.5px solid $o-community-color;
        }
      }
    }

    .input {
      &.search {
        border-radius: 0.25rem;
        border: 0.5px solid var(--neutral-midtone-gray, #83858a);
        background: var(--neutral-white, #fff);
        display: flex;
        padding: 8px 16px;
        justify-content: flex-start;
        align-items: center;
        gap: 16px;
        min-width: 280px;
        font-size: 13px;

        &.disable {
          background: #e9ecef;
          overflow: hidden;
        }

        &.employee {
          min-width: 360px !important;
        }

        &.schedule-customer-search {
          border-radius: 25px;
          gap: 0px;
          padding: 0px;
        }

        &.customer,
        &.service,
        &.employee {
          min-width: 410px;
        }

        &.drug,
        &.examination,
        &.product {
          min-width: 330px;
        }

        &.search-customer {
          margin: 8px;
        }

        &.full-width {
          width: 100%;
        }

        input {
          color: var(--neutral-midtone-gray, #83858a);
          outline: none;
          border: none;
          min-width: 90%;
        }
      }
    }

    .search-result {
      background-color: white;
      box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.15);
      border-radius: 10px;
      padding-top: 16px;
      margin-top: 5px;
      width: 100%;
      z-index: 100;

      .item {
        padding: 8px 16px;

        &:hover {
          background-color: #ecfaf9;
        }
      }
    }

    .base-table {
      th {
        text-align: center;
        vertical-align: middle;
        font-weight: 700;
      }

      td {
        text-align: center;
        vertical-align: middle;
      }
    }

    .modal-footer {
      gap: 1rem;
    }

    .modal-title {
      font-weight: 700 !important;
      font-size: 20px !important;
      font-style: normal;
      line-height: 28px !important;

      &.sm {
        font-size: 16px !important;
        line-height: 22px;
      }
    }

    .label {
      margin-bottom: 0.5rem;
      font-weight: 600 !important;
    }

    .require {
      color: #f33;
    }

    .form input[type="radio"] {
      margin-right: 8px;
      width: 20px;
      height: 20px;
    }

    .select-custom {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background-image: url(/z_web/static/image/arrow-down.svg) !important;
      background-position: right 10px center !important;
      background-repeat: no-repeat;
    }

    @keyframes donut-spin {
      0% {
        transform: rotate(0deg);
      }

      100% {
        transform: rotate(360deg);
      }
    }

    .donut {
      display: inline-block;
      border: 4px solid rgba(0, 0, 0, 0.1);
      border-left-color: #fff;
      border-radius: 50%;
      width: 21px;
      height: 21px;
      margin: 0 10px;
      animation: donut-spin 1.2s linear infinite;
    }
  }

  .invalid-message {
    color: red;
    font-style: italic;
    font-size: 11px;

    ::before {
      content: "*";
    }
  }

  .toast {
    z-index: 10000;
    position: fixed;
    top: 12px;
    right: 12px;
    border: none !important;
    max-width: 450px !important;
    min-width: 400px !important;
    border-radius: 8px !important;
  }

  .toast.error {
    background: #ffc2c2 !important;
    font-style: normal;
  }

  .toast.error .toast-body {
    background: #ffc2c2 !important;
  }

  .toast.success {
    background: #e0f3d9 !important;
  }

  .toast.success .toast-body {
    background: #e0f3d9 !important;
  }

  .toast.warning {
    background: #f8f3d6 !important;
  }

  .toast.warning .toast-body {
    background: #f8f3d6 !important;
  }

  .toast .toast-body .icon {
    padding: 0 8px;
  }

  .toast .toast-body .content {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    align-items: center;
  }

  .toast .toast-body .content span {
    display: inline-block;
    vertical-align: middle;
    line-height: 20px;
  }

  .toast div {
    padding: 0;
  }

  .toast p {
    color: var(--Black, #202020);
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
  }

  .toast .toast-body {
    background: transparent !important;
    padding: 16px 24px !important;
    border-radius: 8px !important;
  }

  .toast .position-fixed {
    border-radius: 8px;
  }
}

.o_field_many2many_checkboxes {
  width: 100%;

  &>div {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    &>div {
      width: calc((100% - 2rem) / 3);
    }
  }
}

span {
  &.require {
    color: #f33;
  }
}

.tab-date-picker {
  width: 120px;
}

.place-box {
  min-width: 140px;
}

.place-dropdown-container {
  padding: 14px 5px !important;
  border-radius: 5px;
}

.oe_asterisk:after {
  content: "*";
  color: red;
  margin-left: 0px;
}

.disable-dropdown-item {
  background-color: #f2f2f2;
  color: #999;
  border: 1px solid #ddd;
  cursor: not-allowed;
  opacity: 0.6;
}

.myopia_container > .o_horizontal {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.myopia_container > .o_horizontal {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.customer_detail_widget{
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #34878b;
  span {
    margin-bottom: 0.5rem; 
  }
  &:hover{
    color: #206569;
  }
.button-title-left {
  text-align: left !important;
}

.result-image-wizard {
  height: 90vh;
}

.o_field_button_upload_result {
  width: 100% !important;
  height: 100% !important;

  &>iframe>html>body {
    background-color: rgba(0, 0, 0, 0.8);

    &>img {
      margin : 0 auto;
    }
  }
 }
}


.image-result-wizard {
  height: 90vh;

  &.o_form_view_container {
    background-color: #f33;
  }
}

.image-result-wizard>.o_form_view_container>.o_content>.o_form_editable {
  padding: 0;
  width: 100%;
  height: 100%;
}

iframe>html>body {
  background-color: rgba(0, 0, 0, 0.8);
}

.spinner {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: donut-spin 1.2s linear infinite;
}

@media print {
  .pos-container{
    page-break-inside: avoid;
  }
}

.add-colon::after {
  content: ":";
}

@media print {
  .pos-container{
    page-break-inside: avoid;
  }
}

.research-tag-container{
  width: 60px;
  height: 20px;
  border-radius: 4px ;
}

@keyframes donut-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.donut {
  display: inline-block;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #fff;
  border-radius: 50%;
  width: 21px;
  height: 21px;
  margin: 0 10px;
  animation: donut-spin 1.2s linear infinite;
}

.modal-body:has(> .payment-form)  {
  overflow: hidden;
}

.invalid-message {
  color: red;
  font-style: italic;
  font-size: 11px;

  ::before {
    content: "*";
  }
}

button.previous-none:has(+ div) + div {
  display: none;
}

.o_field_button_upload_result {
  width: 100% !important;
  height: 100% !important;

  &>iframe>html>body {
    background-color: rgba(0, 0, 0, 0.8);

    &>img {
      margin : 0 auto;
    }
  }

  iframe {position:absolute;top:0;left:0;width:100%; height:100%;}
  iframe > img{
    width: 100% !important;
  }
}

iframe > img{
  width: 100% !important;
}

.white-space-normal-span {
  span{
    white-space: normal;
  }
}

#previewModal {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

#closeModal {
  position: absolute;
  top: 20px;
  right: 30px;
  color: white;
  font-size: 30px;
  cursor: pointer;
}

@media (max-width: 867px) {
  .appointment-form {
    width: 97vw
  }
}

@media  (min-width: 868px) {
  .appointment-form-left {
    padding-right: 0;
  }
}


.appointment-kanban-card-item {
  width: 30vw;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: #1aa199;
  height: 120px;
  color: white;
  font-weight: 800;
  position: relative;
  &.overbook{
    background-color: #00397e;
  }
}

.o_column_quick_create {
  background: #f8f9fa;
}

.counter-view {
  background-color: white;
  font-size: 18px;
  font-weight: 600;
}

.carousel-container {
  position: relative;
  width: 100%;
  height: 100vh;
  margin: auto;
  overflow: hidden;
}

.carousel-slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
  height: 100%;
}

.slide {
  min-width: 100%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  text-align: center;
  display: none;
  margin: auto
}

.slide.active {
  opacity: 1;
  display: block;
}

.slide img {
  width: 100%;
  height: auto;
}

.carousel-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  z-index: 1;
}

.carousel-control.prev {
  left: 10px;
}

.carousel-control.next {
  right: 10px;
}

.scrollable-table {
  max-height: 80vh; 
  overflow-y: auto;
  display: block; 
  border-collapse: collapse;
  width: 100%;
}

.scrollable-table thead {
  position: sticky;
  top: 0;
  background: #f8f9fa; 
  z-index: 1;
}