// Colors
// This is BS default
$o-white: #ffffff;
$o-black: #000000;

$o-gray-100: #f8f9fa;
$o-gray-200: #e9ecef;
$o-gray-300: #dee2e6;
$o-gray-400: #ced4da;
$o-gray-500: #adb5bd;
$o-gray-600: #6c757d;
$o-gray-700: #495057;
$o-gray-800: #343a40;
$o-gray-900: #212529;

$o-community-color: #3b999e;
$o-enterprise-color: #714b67;
$o-enterprise-action-color: #017e84;

$o-brand-odoo: $o-community-color;
$o-brand-primary: $o-community-color;

$o-brand-secondary: #8f8f8f;
$o-brand-lightsecondary: $o-gray-100;

$o-action: $o-brand-primary;
$o-success: #28a745;
$o-info: #17a2b8;
$o-warning: #ffac00;
$o-danger: #dc3545;

// Fine-tune contextual text colors.
// Overrides $theme-colors generated 'text-x' classes only.
// Custom colors are set by $o-text-colors-custom
$o-theme-text-colors: (
  "success": #008818,
  "info": #0180a5,
  "warning": #9a6b01,
  "danger": #d23f3a,
);

$o-opacity-disabled: 0.5;
$o-opacity-muted: 0.76;

$o-font-family-sans-serif: o-add-unicode-support-font($o-system-fonts);
$o-font-family-monospace: o-add-unicode-support-font(
  (SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace)
);

$o-headings-font-family: o-add-unicode-support-font(("SF Pro Display", $o-system-fonts));

// Font colors
$o-main-text-color: $o-gray-700;
$o-main-bg-color: #f0eeee;
$o-main-color-muted: rgba($o-main-text-color, $o-opacity-muted);
$o-main-headings-color: $o-gray-900;
$o-main-link-color: darken($o-brand-primary, 5%);
$o-main-favorite-color: #f3cc00;
$o-main-code-color: #d2317b;

// Components colors
$o-component-active-color: $o-gray-900;
$o-component-active-bg: mix($o-action, $o-gray-100, 20%);
$o-component-active-border: $o-action;

$o-view-background-color: white;
$o-shadow-color: #303030;

$o-form-lightsecondary: #ccc;

$o-list-footer-bg-color: transparent;
$o-list-footer-font-weight: bold;

// Custom colors generation maps
$o-text-colors-custom: (
  "action": $o-action,
  "favourite": $o-main-favorite-color,
);

$o-bg-colors-custom: (
  "action": $o-action,
  "view": $o-view-background-color,
  "favourite": $o-main-favorite-color,
);

$o-btn-custom: (
  "favourite": $o-main-favorite-color,
);

// Components (BS)

$o-border-color: var(--border-color, #{$o-gray-300});

$o-input-border-required: $o-brand-primary;
$o-input-hover-border-color: $o-gray-300;

$o-btns-bs-override: ();
$o-btns-bs-override: map-merge(
  (
    "primary": (
      background: $o-brand-primary,
      border: $o-brand-primary,
      color: $o-white,

      hover-background: darken($o-brand-primary, 3%),
      hover-border: darken($o-brand-primary, 3%),
      active-background: darken($o-brand-primary, 3%),
      active-border: darken($o-brand-primary, 3%),
      hover-color: $o-white,
      active-color: $o-white,
    ),
    "secondary": (
      background: $o-gray-300,
      border: $o-gray-300,
      color: $o-gray-800,

      hover-background: $o-gray-400,
      hover-border: $o-gray-400,
      active-background: $o-gray-400,
      active-border: $o-gray-400,
      hover-color: $o-gray-900,
      active-color: $o-gray-900,
    ),
    "light": (
      background: $o-white,
      border: $o-white,
      color: $o-gray-700,

      hover-background: $o-gray-200,
      hover-border: $o-gray-200,
      hover-color: $o-gray-900,

      active-background: $o-component-active-bg,
      active-border: $o-component-active-border,
      active-color: $o-component-active-color,
    ),
  ),
  $o-btns-bs-override
);

$o-btns-bs-outline-override: ();
$o-btns-bs-outline-override: map-merge(
  (
    "secondary": (
      background: transparent,
      border: $o-gray-300,
      color: $o-gray-700,

      hover-background: $o-gray-200,
      hover-border: $o-gray-300,
      hover-color: $o-gray-800,

      active-background: $o-component-active-bg,
      active-border: $o-component-active-border,
      active-color: $o-component-active-color,
    ),
  ),
  $o-btns-bs-outline-override
);
